<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dinos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/cats'>View All Cats</a></li>
            <li><a href='/cats/new'>Add New Cat</a></li>
            <li><a href='/dogs'>View All Dogs</a></li>
            <li><a href='/dogs/new'>Add New Dog</a></li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>