<h1>Add new cat</h1>
<form action="/cats" method="POST">
    Name: <input name="name" type="text"/>
    Image URL: <input name="image" type="text"/>
    Famous For: <input name="famousFor" type="text"/>
    <input type="submit" value="add"/>
</form>